@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face{
    font-family: 'ExpletusSans';
    src: url('../fonts/ExpletusSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'GothamRounded-Bold';
    src: url('../fonts/GothamRounded-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'GothamExLight';
    src: url('../fonts/GothamExLight.ttf') format('truetype');
}
